.button {
  box-sizing: border-box;
  overflow: hidden;

  font-weight: 500;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-align: center;
  color: #f6f7ff;
  font-style: normal;

  background-color: #2c36f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    opacity: 0.9;

    transition: opacity 0.3s;
  }

  &:focus {
    outline: 2px solid darkcyan;
  }

  &:active {
    opacity: 0.7;

    transition: opacity 0.3s;
  }

  &--small {
    width: 198px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;

    font-size: 16px;
    line-height: 19px;

    @media (max-width: 1023px) {
      width: 100%;
    }
  }

  &--large {
    width: 382px;
    padding-top: 20px;
    padding-right: 123px;
    padding-bottom: 18px;
    padding-left: 124px;

    font-size: 16px;
    line-height: 140%;

    @media (max-width: 1023px) {
      width: 100%;
    }
  }

  &--submit {
    width: 424px;
    padding-top: 19px;
    padding-bottom: 19px;

    font-size: 18px;
    line-height: 22px;
  }

  &--close {
    position: absolute;
    top: 53px;
    right: 54px;

    width: 20px;
    height: 20px;
    padding: 0;

    background: url('../../assets/img/close.svg') no-repeat;
    opacity: 0.6;

    &:hover {
      opacity: 1.0;
    }
  }

  &--success-close {
    position: absolute;
    top: 25px;
    right: 25px;

    width: 20px;
    height: 20px;
    padding: 0;

    background: url('../../assets/img/close.svg') no-repeat;
    opacity: 0.6;

    &:hover {
      opacity: 1.0;
    }
  }

  &--show-password {
    position: absolute;
    top: 50px;
    right: 24px;

    width: 22px;
    height: 12px;
    padding: 0;

    background: url('../../assets/img/show.svg') no-repeat;
    opacity: 0.6;

    &:hover {
      opacity: 1.0;
    }
  }

  &--dec {
    content: '-';
    position: absolute;
    top: 77px;
    left: 20px;

    width: 16px;

    background-color: #1f1e25;
    opacity: 0.6;

    &:hover {
      opacity: 1.0;
    }
  }

  &--inc {
    position: absolute;
    top: 69px;
    right: 20px;

    width: 16px;
    height: 16px;

    background: url('../../assets/img/plus.svg') no-repeat;
    opacity: 0.6;

    &:hover {
      opacity: 1.0;
    }
  }
}
