.logo {
  display: flex;
}
.logo__link {
  display: block;
  box-sizing: border-box;
  width: 150px;
  height: 27px;
  margin-right: 109px;
  padding-bottom: 7px;

  @media (max-width: 1023px) {
    margin-right: 66px;
  }
}
