.feature-list {
  margin-bottom: 40px;

  grid-column-start: 1;
}

.feature-list__item {
  display: grid;
  align-items: baseline;
  margin-bottom: 25px;

  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  font-style: normal;

  grid-column-gap: 10px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;

  &::before {
    content: '';

    display: inline-block;
    width: 13px;
    height: 10px;

    background: url('../../assets/img/check.svg') no-repeat;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  };
}
